.boxcard {
  display: flex;
  padding: 0px 40px;
  flex-flow: column nowrap;
  padding: 40px;
  width: 40vw;
  background-color: #191f30;
  border-radius: 20px;
  margin-bottom: 50px;
  @media (max-width: 640px) {
    width: 500px;
    margin-bottom: 0px;
  }
}

.boxcard2 {
  display: flex;
  padding: 40px;
  flex-flow: column nowrap;
  width: 40vw;
  background-color: #191f30;
  border-radius: 20px;
  margin-top: 50px;
  @media (max-width: 640px) {
    width: 500px;
    margin-top: 0px;
  }
}

.boxcard .kingsvg2 {
  background-color: #22a75d;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.starsvg2 {
  background-color: #2278d4;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.boxcard h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 20px;
}

.boxcard h3 a {
  color: #22a75d;
}

.boxcard p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 50%);
  margin-bottom: 40px;
}

.boxcard .a-learn-more {
  color: #22a75d;
  font-weight: bold;
  font-size: 14px;
}

.boxcard2 h3 {
  font-size: 36px;
  font-weight: bold;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 20px;
}

.boxcard2 h3 a {
  color: #2278d4;
}

.boxcard2 p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 50%);
  margin-bottom: 40px;
}

.boxcard2 .a-learn-more {
  color: #2278d4;
  font-weight: bold;
  font-size: 14px;
}
